{% extends "base.html" %} 

{% block titulo %} Identificar usuario {% endblock %} 

{% block contenido_principal %}
  <h2>Log in</h2>
  <form class="form-horizontal" method="post" action="/identificarse" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email"
            placeholder="Email" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" name="password" 
        	placeholder="Password" required="true" />
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </form>
<div>
  <button onclick="logNetworkInfo()">Update Network Info</button>
  <p id="pConectionInfoType"></p>
  <p id="pConectionInfoDownlink"></p>
  <p id="pConectionInfoRtt"></p>
  <p id="pConectionInfoDownLinkMax"></p>
  <p id="pConectionInfoEffectiveType"></p>
  <p id="pConectionInfoSaveData"></p>
</div>
{% endblock %}

<script>
  navigator.connection.addEventListener('change', logNetworkInfo);

  function logNetworkInfo() {
    // Network type that browser uses
    console.log('         type: ' + navigator.connection.type);
    document.getElementById("pConectionInfoType").innerHTML="type: "+navigator.connection.type;

    // Effective bandwidth estimate
    console.log('     downlink: ' + navigator.connection.downlink + ' Mb/s');
    document.getElementById("pConectionInfoDownlink").innerHTML="downLink: "+navigator.connection.downlink + "Mb/s";

    // Effective round-trip time estimate
    console.log('          rtt: ' + navigator.connection.rtt + ' ms');
    document.getElementById("pConectionInfoRtt").innerHTML="rtt: "+navigator.connection.rtt + " ms";

    // Upper bound on the downlink speed of the first network hop
    console.log('  downlinkMax: ' + navigator.connection.downlinkMax + ' Mb/s');
    document.getElementById("pConectionInfoDownLinkMax").innerHTML="downLinkMax: "+navigator.connection.downlinkMax+" Mb/s";

    // Effective connection type determined using a combination of recently
    // observed rtt and downlink values: ' +
    console.log('effectiveType: ' + navigator.connection.effectiveType);
    document.getElementById("pConectionInfoEffectiveType").innerHTML="EffectiveType: "+navigator.connection.effectiveType;

    // True if the user has requested a reduced data usage mode from the user
    // agent.
    console.log('     saveData: ' + navigator.connection.saveData);
    document.getElementById("pConectionInfoSaveData").innerHTML="saveData: "+navigator.connection.saveData;

    // Add whitespace for readability
    console.log('');
  }

  logNetworkInfo();
</script>