{% extends "base.html" %} 

{% block titulo %} Identificar usuario {% endblock %} 

{% block contenido_principal %}
  <h2>Log in</h2>
  <form class="form-horizontal" method="post" action="/identificarse" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email"
            placeholder="Email" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" name="password" 
        	placeholder="Password" required="true" />
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </form>
{% endblock %}
<div>
  <p>
    Type of your connection: {{ navigator.connection.type }}
    Downlink: {{ navigator.connection.downlink }} Mb/s
    rtt: {{ navigator.connection.rtt }} ms
    downlinkMax: {{ navigator.connection.downlinkMax }} Mb/s
    effectiveType: {{ navigator.connection.effectiveType }}
    saveData: {{ navigator.connection.saveData }}
  </p>
</div>

<script>

  navigator.connection.addEventListener('change', logNetworkInfo);

  function logNetworkInfo() {
    // Network type that browser uses
    log('         type: ' + navigator.connection.type);

    // Effective bandwidth estimate
    log('     downlink: ' + navigator.connection.downlink + ' Mb/s');

    // Effective round-trip time estimate
    log('          rtt: ' + navigator.connection.rtt + ' ms');

    // Upper bound on the downlink speed of the first network hop
    log('  downlinkMax: ' + navigator.connection.downlinkMax + ' Mb/s');

    // Effective connection type determined using a combination of recently
    // observed rtt and downlink values: ' +
    log('effectiveType: ' + navigator.connection.effectiveType);

    // True if the user has requested a reduced data usage mode from the user
    // agent.
    log('     saveData: ' + navigator.connection.saveData);

    // Add whitespace for readability
    log('');
  }

</script>