{% extends "base.html" %} {% block titulo %} Peticiones de amistad {% endblock %}

{% block contenido_principal %}
<h2>Peticiones de amistad recibidas</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>email</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for invitacion in invitaciones %}
			<tr>
				<td>{{ invitacion.usuarioFrom }}</td>
				<td><a class="btn btn-primary" href="/usuario/aceptar/{{ invitacion.usuarioFrom }}">Aceptar</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}