{% extends "base.html" %} {% block titulo %} Peticiones de amistad {% endblock %}

{% block contenido_principal %}
<h2>Peticiones de amistad recibidas</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>email</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Aceptar invitación de amistad</th>
			</tr>
		</thead>
		<tbody>
		{% for invitacion in invitaciones %}
			{% for usuario in usuarios %}
				{% if invitacion.usuarioFrom == usuario.email %}
					<tr>
						<td>{{ invitacion.usuarioFrom }}</td>
						<td>{{ usuario.name }}
						<td>{{ usuario.lastname }}</td>
						<td><a class="btn btn-primary" href="/usuario/aceptar/{{ invitacion.usuarioFrom }}">Aceptar</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
	<ul class="pagination">
		{% for pagina in paginas %}
			<li class="page-item" id="pi-{{pagina}}">
				<a class="page-link" href="/invitaciones?pg={{pagina}}">{{pagina}}</a>
			</li>
		{% endfor %}
		<script>$("#pi-"+"{{actual}}").addClass("active");</script>
	</ul>
</div>

{% endblock %}