{% extends "base.html" %} 

{% block titulo %} Registrar usuario {% endblock %} 

{% block contenido_principal %}
  <h2>Sign up</h2>
  <form class="form-horizontal" method="post" action="/registrarse" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email"
            placeholder="Email" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" name="name"
               placeholder="Name" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Apellidos:</label>
      <div class="col-sm-10">
        <input type="lastname" class="form-control" name="lastname"
               placeholder="Lastname" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">          
        <input type="password"  class="form-control" name="password" 
        	placeholder="Password" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="repeatPassword">Repeat password:</label>
      <div class="col-sm-10">
        <input type="password"  class="form-control" name="repeatPassword"
               placeholder="Repeat password" required="true" />
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </form>
{% endblock %}