{% extends "base.html" %}

{% block titulo %} Gestor de amigos {% endblock %}

{% block contenido_principal %}

<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/verUsuarios" >
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" id="searchText" class="search-query form-control"
                       placeholder="Search people" name="busqueda"/>
                <span class="input-group-btn">
                    <button id="searchButton" class="btn" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>



<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>email</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            {% if !(amigos.includes(usuarioSesion) || invitaciones.includes(usuarioSesion)) %}
                <tr>
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.lastname }}</td>
                    <td>{{ usuario.email }}</td>
                    {% if usuario.esAmigo=="false" %}
                        <td><a class="btn btn-primary" href="/usuario/invitar/{{ usuario.email.toString() }}">Add</a></td>
                    {% else %}
                        <td><a class="btn btn-primary" disabled="disabled" title="Petición en curso o ya es amigo" href="/usuario/invitar/{{ usuario.email.toString() }}">Add</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
{% if textoBusqueda != null %}
    {% set txtBusqueda = "&busqueda="+textoBusqueda %}
{% endif %}
<div class="row text-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/verUsuarios?pg=1{{ txtBusqueda }}">First</a>
        </li>
        {% if actual-1 >= 1 %}
        <li class="page-item">
            <a class="page-link" href="/verUsuarios?pg={{ actual -1 }}{{ txtBusqueda }}">{{ actual -1 }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="/verUsuarios?pg={{ actual }}{{ txtBusqueda }}">{{ actual }}</a>
        </li>
        {% if actual+1 <= ultimaPg %}
        <li class="page-item">
            <a class="page-link" href="/verUsuarios?pg={{ actual+1 }}{{ txtBusqueda }}">{{ actual+1 }}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="/verUsuarios?pg={{ ultimaPg }}{{ txtBusqueda }}">Last</a>
        </li>
    </ul>
</div>
{% endblock %}