/*
Fixed div
https://stackoverflow.com/questions/18894400/how-can-i-make-the-contents-of-a-fixed-element-scrollable-only-when-it-exceeds-t
*/

.loginForm {
    max-width: 300px !important;
}

#div-ususario-chateando {
    background-color: #343a40;
    border-radius: .25rem;
    text-align: center;
    padding: 0.01% !important;
}

#ususario-chateando {
    font-weight: bold;
    font-size: 1rem;
}

.list-group-item {
    background-color: #343a40 !important;
    color: #9d9d9d !important;
}

.table-chat {
    table-layout: fixed;
    width: 100%;
}

.th-table-chat {
    width: 50%;
}

#txt-send-message {
    padding: 0% !important;
}

#btn-send-message {
    padding: 0% !important;
}

#grid-send-message {
    padding-right: 5% !important;
}

.container {
    padding: 1% !important;
}

.list-group {
    padding: 1% !important;
}

.form-control::placeholder {
    color: #9d9d9d;
}

.stuck {
    position: fixed;
    top: 17%;
    left: 0%;
    bottom: 11%;
    right: 0%;
    overflow-y: scroll;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header header header header header header header header header header header header header header header header header header header menu';
    grid-gap: 10px;
    position: fixed;
    left: 2%;
    bottom: 2%;
    right: 2%;
}

.dark {
    background-color: #141414 !important;
}

.dark2 {
    background-color: #343a40 !important;
    color: white !important;
    font-weight: bold;
}

.light {
    color: white !important;
}

.light2 {
    color: #9d9d9d !important;

}

.form-group {
    padding: 1em;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #303030;
}

.table-hover * {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

.table-hover tbody tr {
    color: white;
}

body {
    scrollbar-color: #303030 #141414 !important;
}

input[type="text"] {
    background: #292929;
    border: 1px solid rgba(0, 0, 0, .5);
    color: white;
}

input[type="email"] {
    background: #292929;
    border: 1px solid rgba(0, 0, 0, .5);
    color: white;
}

input[type="password"] {
    background: #292929;
    border: 1px solid rgba(0, 0, 0, .5);
    color: white;
}

.alert-success {
    background-color: lawngreen !important;
    color: #1c1c1c;
    font-weight: bold;
    border-color: gray;

    padding: 1em;
    margin-bottom: -1em;
}

.alert-info {
    background-color: dodgerblue !important;
    color: #1c1c1c;
    font-weight: bold;
    border-color: gray;

    padding: 1em;
    margin-bottom: -1em;
}

#tabla-mensajes * {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
